<nav class="navbar navbar-inverse navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="<%= logoOrigin %>" alt="" width="200" height="100" class="d-inline-block align-top" alt="logo_origin"></a>
    <button class="navbar-toggler me-3" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link ps-1" href="/">Home</a>
        <a class="nav-item nav-link ps-1" href="/about">About Me</a>
        <a class="nav-item nav-link ps-1" href="/projects">Projects</a>
        <a class="nav-item nav-link ps-1" href="/services">Services</a>
        <a class="nav-item nav-link ps-1" href="/contact">Contact Me</a>
      </div>
    </div>
</nav>

  