<%- include('partials/header.ejs') %>

<h1>Welcome to the <%= title %></h1>
<p>
    Name: Kevin Wong<br>
    Age: 28<br>
    Address: Hong Kong <br>
    Loves: Basketball
</p>

<%- include('partials/footer.ejs') %>
